<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile" />
<p>
  Quam purus justo enim purus, dolor enim, ut eu lectus nam eget nibh. Ante
  illum nullam leo, vivamus aliquam massa massainceptos fermentum porttitor,
  blandit vehicula, lorem in placerat ut aliquam at sociosqu. Vivamus duis
  ultricies aliquam placerat, tincidunt scelerisque imperdiet, egestas erat vel.
  Libero rerum. Donec ligula tristique, purus montes, feugiatid nunc in a nec.
</p>

<%- include("partials/footer.ejs") %>
